@mixin maragin-top($value:10px) {
    margin-top: $value;
}

@mixin padding-top-bottom($value:10%) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin last-no-margin {
    &:last-child {
        margin-bottom: 0px;
    }
}