@import './variate.scss';
*,
body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
}

.master-background-color {
    background-color: $master-color;
    color: $white-font;
}

.banner {
    text-align: center;
    min-height: 150px;
    @extend .master-background-color;
    padding-top: 10%;
    padding-bottom: 10%;
    .banner-btn {
        width: 100px;
        background-color: $decorate-color;
        margin: 0 auto;
        height: 100px;
    }
}